<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Shopify Image Repo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.12/css/all.css'>
    <link rel="stylesheet" href="../static/css/home.css">

</head>
<body>
<!-- partial:index.partial.html -->
<nav>
  <div class="container">
    <div class="grid">
      <div class="column-xs-12 column-md-8">
        <p id="highlight">Shopify Image Repo</p>
      </div>
      <div class="column-xs-12">
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="/login">Login!</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section class="gallery">
  <div class="container">
    <div class="grid">
      {% for product in products %}
      <div class="column-xs-12 column-md-4">
        <figure class="img-container">
          <img src= '{{product["file"]}}' />
        </figure>
        <div class="infotext">{{product["name"]}} - ${{product["price"]}} - ({{product["quantity"]}})</div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
  <script  src="../static/js/home.js"></script>

</body>
</html>
